:root {
    --grid-size: 450px;
    --margin-size: 10px;
    --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
}

body {
    font-family: 'Times New Roman', Times, serif;
}

#grid {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    height: var(--grid-size);
    width: var(--grid-size);
}

#grid div {
    background-color: white;
    height: var(--square-size);
    width: var(--square-size);

    display: flex;
    justify-content: center;
    align-content: center;
}

#grid div img {
    width: 100%;
}
